/* src/Home.css */

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

body{
  font-family: "DM Serif Display", serif;
}
.Product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh; /* Covers half of the viewport height */
    width: 100%;/* Full width of the viewport */
    background-color: #d4c893; /* Background color for visibility */
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
    font-family: "DM Serif Display", serif;
  }
  
  p {
    margin: 1rem 0;
    font-size: 1rem;
    color: #666;
  }
  
  .carcontainer{
    background-color: #ffffff;
    display: flex;
  flex-wrap: wrap;
justify-content: center;
  }