/* src/components/Footer.css */

.footer {
  background-color:  #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  height: 2.5%;
}

.footer-links {
  margin: 1rem 0;
}

.footer-links a {
  color: #61dafb;
  margin: 0 0.5rem;
  text-decoration: none;
 
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  margin: 1rem 0;
}

.footer-social a {
  color: #61dafb;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-social a:hover {
  color: #21a0f6;
}
